.Board {
  position: relative;
  text-align: center;
  top: 1%;
}

.phoenix-board {
  margin-bottom: 2px;
  display: inline-block;
  width: 60%;
  background-size: 100%;
  padding-bottom: 16%;
  background-repeat: no-repeat;
  background-image: url('../assets/board_phoenix.png');
}

.death-board {
  margin-top: 2px;
  display: inline-block;
  width: 60%;
  background-size: 100%;
  padding-bottom: 16%;
  background-repeat: no-repeat;
  background-image: url('../assets/board_death_1.png');
}