.header {
  text-align: center;
  font-family: sans-serif;
}

.sendCandidate{
  position: relative;
  text-align: center;
  left: 40.1%;
  top: 20px;
  background-color: mediumslateblue;
  border: none;
  border-radius: 20px;
  width: 20%;
  padding: 8px 16px;
  margin: 2px 2px;
  transition: 0.5s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  outline: none;
  font-size: large;
  color: #FFFFFF;
  text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, 
                #FF2D95 0px 0px 20px, 
                #FF2D95 0px 0px 30px, 
                #FF2D95 0px 0px 40px, 
                #FF2D95 0px 0px 50px, 
                #FF2D95 0px 0px 75px;
}

*:disabled {
  opacity: 0;
}