.proclam .card {
  position: absolute;
  top: 20%;
  padding-top: 11.5%;
  padding-left: 15%;
  padding-bottom: 8%;
  padding-right: 1%;
  background-size: 90%;
  background-repeat: no-repeat;
  background-position-x: -8px;
  background-position-y: -9px;
  outline: none;
  border-radius: 20px;
  border: 8px solid transparent;
}

.left {
  left: 29%;
}

.right {
  left: 56%;
}

.phoenix {
  background-image: url('../assets/ProclamationPhoenix.png');
}

.death {
  background-image: url('../assets/ProclamationDeathEater.png');
}

*.disabled {
  opacity: 0.6;
}