.player {
  text-align: center;
  width: 60%;
  padding-left: 40%;
}

.player button {
  background-color: #f4511e;
  color: white;
  border: none;
  width: 100%;
  padding: 8px 16px;
  margin: 2px 2px;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}

.player-bttn {
  opacity: 0.6;
}

.player-bttn:hover {
  opacity: 1;
}

.selectedPlayer-bttn button{
  opacity: 1;
}
