.playerList {
  margin-top: 10px;
  margin-bottom: 10px;
  display: inline-block;
  text-align: center;
  width: 100%;
}

.playerList .list-container {
  width: 100%;
  display: inline-block;
}

.playerList .list-container ul {
  padding: 0;
  margin: 0 auto;
  list-style-type: none;
}

.player {
  display: inline-block;
  margin: 8px;
}

.player button {
  font-size: medium;
  background-color: black;
  color: white;
  width: 100%;
  border: none;
  transition: 0.3s;
  cursor: pointer;
  padding: 12px 25px;
  border-radius: 25px;
  box-shadow: #000000 0px 0px 5px, #000000 0px 0px 10px, #FFF 0px 0px 15px,  
                rgb(0, 0, 0) 0px 0px 10px, 
                rgb(0, 0, 0) 0px 0px 20px;

}

.player-bttn {
  opacity: 0.6;
}

.player-bttn:hover {
  opacity: 1;
}

.selectedPlayer-bttn {
  opacity: 1;
  outline: none;
}
