.vote .center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.card {
  background-repeat: no-repeat;
  background-size: 105%;
  background-position-x: -8px;
  background-position-y: -9px;
  padding-left: 330px;
  padding-bottom: 242px;
  outline: none;
  border-radius: 20px;
  border: 8px solid transparent;
}

.card:hover {
  border-image: url('../assets/CardFrame.png') 150 round;
  border-width: 40px;
  border-radius: 0px;
  filter: saturate(1.7);
}

.nox {
  background-image: url('../assets/NoxCard.png');
  left: 70%;
}

.nox:hover {
  filter: grayscale(100%);
}

.lumos {
  background-image: url('../assets/LumosCard.png');
  left: 30%;
}

*:disabled {
  opacity: 0.6;
}
