.AvadaKedavra {
  position: relative;
  text-align: center;
  background: radial-gradient(indigo, rgb(133, 69, 179));
  padding-bottom: 5.55%;
}

.AvadaKedavra .header {
  text-align: center;
  font-family: sans-serif;
  color: blueviolet;
  background: rgb(50, 13, 51);
}

.AvadaKedavra .player-list {
  display: inline-block;
  width: 100%;
  min-height: 120px;
}

.AvadaKedavra .sendKilled {
  position: relative;
  top: 20px;
  background-color: #5a1010;
  border-radius: 20px;
  width: 20%;
  padding: 8px 16px;
  margin: 8px 2px;
  transition: 0.3s;
  display: inline-block;
  cursor: pointer;
  outline: none;
  font-size: large;
  color: #FFFFFF;
  border: none;
  text-shadow: #f14040 0px 0px 5px, #f14040 0px 0px 10px, #f14040 0px 0px 15px, 
                #b80a0a 0px 0px 20px, 
                #b80a0a 0px 0px 30px, 
                #b80a0a 0px 0px 40px, 
                #b80a0a 0px 0px 50px, 
                #b80a0a 0px 0px 75px;
}

.AvadaKedavra .sendKilled:hover {
  box-shadow: #f14040 0px 0px 1px, #f14040 0px 0px 3px, #f14040 0px 0px 6px, 
                #b80a0a 0px 0px 4px,
                #b80a0a 0px 0px 8px,
                #b80a0a 0px 0px 10px,
                #b80a0a 0px 0px 13px,
                #b80a0a 0px 0px 16px;
}

.AvadaKedavra *:disabled {
  opacity: 0;
}
