.AvadaKedavra {
  position: relative;
  text-align: center;
}

.header {
  text-align: center;
  font-family: sans-serif;
}

.player-list {
  position: relative;
  margin: 4px;
  width: 50%;
  left: 24.54%;
}

.sendKilled {
  position: relative;
  top: 20px;
  background-color: #2f4f4f;
  border-radius: 20px;
  width: 20%;
  padding: 8px 16px;
  margin: 8px 2px;
  transition: 0.3s;
  display: inline-block;
  cursor: pointer;
  outline: none;
  font-size: large;
  color: #FFFFFF;
  border: none;
  text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, 
                #2f4f4f 0px 0px 20px, 
                #2f4f4f 0px 0px 30px, 
                #2f4f4f 0px 0px 40px, 
                #2f4f4f 0px 0px 50px, 
                #2f4f4f 0px 0px 75px;
}

.sendKilled:hover {
  box-shadow: #FFF 0px 0px 1px, #FFF 0px 0px 3px, #FFF 0px 0px 6px, 
                #2f4f4f 0px 0px 4px, 
                #2f4f4f 0px 0px 8px, 
                #2f4f4f 0px 0px 10px, 
                #2f4f4f 0px 0px 13px, 
                #2f4f4f 0px 0px 16px;
}

*:disabled {
  opacity: 0;
}
