#proclam {
  text-align: center;
}

#proclam button {
  width: 288px;
  height: 415px;
  padding: 0;
  margin: 6em;
  border-radius: 0.25em;
  border: none;
  outline: none;
}

#proclam button:hover {
  border-image: url('../../assets/CardFrame.png') 150 round;
  border-width: 40px;
  border-radius: 0px;
}

.phoenix {
  background-image: url('../../assets/ProclamationPhoenix.png');
}

.death {
  background-image: url('../../assets/ProclamationDeathEater.png');
}

*.disabled {
  opacity: 0.6;
}