.info {
  float: left;
  display: inline;
  position: absolute;
  text-align: center;
  width: 27%;
  height: 100%;
  left: -0.005%;
  top: -0.2%;
  border-right: 6px solid rgb(224, 205, 98);
  border-left: 6px solid rgb(224, 205, 98);
  font-family: sans-serif;
  background-color: black;
}

.info .game-phase {
  display: inline-block;
  padding-top: 10px;
  padding-bottom: 10px;
  background: black;
  color: white;
  width: 100%;
}

.info .game-phase h2 {
  margin: 0;
}

.info .game-phase h3 {
  margin: 0;
  margin-top: 5px;
}

.info .role {
  display: inline-block;
  margin: 0px;
  width: 100%;
  background: black;
  padding-bottom: 10px;
  padding-top: 10px;
  border-top: 4px solid rgb(224, 205, 98);
  border-bottom: 4px solid rgb(224, 205, 98);
}

.info .role .role-container {
  display: flex;
  margin: 7px;
}

.info .role .role-container h3 {
  display: flex;
  color: white;
  font-size: 1.5em;
}

.phase {
  text-align: center;
  float: right;
  display: inline;
  position: absolute;
  top: 58%;
  left: 27.9%;
  width: 72%;
  height: 42%;
  background-color: darkgrey;
}

.phase .game-over {
  position: absolute;
  margin: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(90deg, red, indigo);
}

.sendMsessageChat{
  bottom: 1%;
  left: 0%;
  position: absolute;
}
.sendMsessageChat input{
  height: 100%;
  width: 236%;
  position: relative;
}
.sendMsessageChat button{
    padding-top: 25%;
    border-radius: 30px;
    background-color: #791786;
    color: whitesmoke;
    font-size: 15px;
    left: 50%;
    position: relative;
    overflow: hidden;
    width: 40%;
    height: 20px;
    padding: 0px 0px;

  }
  .sendMsessageChat button:hover {
    background-color: #3b0550;
  }
  .showmeMessageChat {
    background-image: url('./chat/300300p2250EDNmainImage.png');
    background-repeat: no-repeat;
    background-position: right;
    background-color: rgb(126, 18, 136);
    position: absolute;
    bottom: 10%;
    height: 30%;
    width: 100%;
    left:0%;
    overflow: scroll;
    overflow-x: hidden;
  }
  /* width */
  ::-webkit-scrollbar {
    width: 10px;
  }
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  .showmeMessageChat {
    left: 0%;
    width: 100%;
    position: absolute;
    color:rgb(5, 5, 5);
    font-size: 17 px;
  }
.showChat  {
  background-image: url('./chat/com.random.chat.app_icon.png');
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  border-radius: 30px;
  height: 5%;
  width: 10%;
  bottom: 40%;
  right: 0%;

}

.board {
  text-align: center;
  float: right;
  display: inline;
  position: absolute;
  top: 0%;
  left: 27.9%;
  width: 72%;
  height: 57%;
  border-bottom: 6px solid rgb(224, 205, 98);
}
