
.Principalpagestyle{
  width: 900px;
  height: 700px;
  padding-top: 70px;
  margin: 30px auto;
  background-image: url(./assets/fenix_sym.png), url(./assets//mortifagos_sym.png), url(./assets//fondo11.png);
  background-size: 250px, 100px, 1000px;
  background-repeat: no-repeat;
  background-position: left, right, center;
}

  